<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>maru一覧</title>
  </head>
  <body>
	<div class = "container-fluid" style = "background-color:#F06060;">
		<h1>みんなの投稿</h1>
		<div class = "row">
			<!-- スマホ上でもレイアウトが崩れぬようxs固定 -->
			<div class = "col-xs-3" style = "background-color:#7fbfff">
				<h1>投稿フォーム</h1>
				<!-- 実際に投稿する内容を入力します -->
				<form action="#" method="post" th:Object="${talk}">
					<input type = "radio" name="name" value="あかまる">あかまる
					<input type = "radio" name="name" value="あおまる">あおまる<br>
					<input type = "radio" name="name" value="みどりまる">みどりまる
					<input type = "radio" name="name" value="きまる">きまる<br>
					<input type = "radio" name="name" value="くろまる">くろまる
					<input type = "radio" name="name" value="しろまる">しろまる<br>
					<textarea th:field="*{comment}" placeholder = "ここにがんばることやがんばったことをかいてね"></textarea>
					<br>
					<button type="submit" >送信</button><br>
<!-- 					<small style="color:red" th:errors="*{talk}"></small> -->
				</form>
			</div>
			<!-- 投稿内容一覧 -->
			<div class= "col-xs-9" style = "background-color:#7fff7f">
				<h1>タイムライン</h1>
				<table>
	 			<tr th:each="talk:${talks}" th:inline="text" >
				<td>[[${talk.id}]]</td>
				<td>&nbsp;[[${talk.name}]]<br></td>
				<td>&nbsp;[[${talk.comment}]]</td>
				</tr>
			 	</table>
			</div>
		</div>
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>